# Slack and GitLab Configuration.

slack:
    team:            your-organization # Team name (example for https://your-organization.slack.com)
    default_channel: general

gitlab_push:
    channel:      general
    push_message: "New push on <%s|%s> (%d Commits):"
    token:        PleaseInsertTheSlackIncomingWebHooksTokenHere
    color:        good

gitlab_issue:
    channel:                general
    issue_create_message:   "New issue #%s created:"
    issue_update_message:   "Issue #%s is updated:"
    token:                  PleaseInsertTheSlackIncomingWebHooksTokenHere
    color:                  '#EB4D5C'

# @todo : Add others Income/outgoing services parameters

